<a href="https://colab.research.google.com/github/Rokon-Uz-Zaman/House-Price-Prediction/blob/main/Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("/content/Housing.csv")

In [5]:
data

        price  area  bedrooms  ...  parking  prefarea furnishingstatus
0    13300000  7420         4  ...        2       yes        furnished
1    12250000  8960         4  ...        3        no        furnished
2    12250000  9960         3  ...        2       yes   semi-furnished
3    12215000  7500         4  ...        3       yes        furnished
4    11410000  7420         4  ...        2        no        furnished
..        ...   ...       ...  ...      ...       ...              ...
540   1820000  3000         2  ...        2        no      unfurnished
541   1767150  2400         3  ...        0        no   semi-furnished
542   1750000  3620         2  ...        0        no      unfurnished
543   1750000  2910         3  ...        0        no        furnished
544   1750000  3850         3  ...        0        no      unfurnished

[545 rows x 13 columns]

In [6]:
data.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [7]:
data.describe()

              price          area  ...     stories     parking
count  5.450000e+02    545.000000  ...  545.000000  545.000000
mean   4.766729e+06   5150.541284  ...    1.805505    0.693578
std    1.870440e+06   2170.141023  ...    0.867492    0.861586
min    1.750000e+06   1650.000000  ...    1.000000    0.000000
25%    3.430000e+06   3600.000000  ...    1.000000    0.000000
50%    4.340000e+06   4600.000000  ...    2.000000    0.000000
75%    5.740000e+06   6360.000000  ...    2.000000    1.000000
max    1.330000e+07  16200.000000  ...    4.000000    3.000000

[8 rows x 6 columns]

In [8]:
data.isnull().any()

price               False
area                False
bedrooms            False
bathrooms           False
stories             False
mainroad            False
guestroom           False
basement            False
hotwaterheating     False
airconditioning     False
parking             False
prefarea            False
furnishingstatus    False
dtype: bool

In [9]:
data.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [10]:
data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [11]:
features=['area', 'bedrooms', 'bathrooms', 'stories',
       'parking']

data[features]

     area  bedrooms  bathrooms  stories  parking
0    7420         4          2        3        2
1    8960         4          4        4        3
2    9960         3          2        2        2
3    7500         4          2        2        3
4    7420         4          1        2        2
..    ...       ...        ...      ...      ...
540  3000         2          1        1        2
541  2400         3          1        1        0
542  3620         2          1        1        0
543  2910         3          1        1        0
544  3850         3          1        2        0

[545 rows x 5 columns]

In [12]:
x=data[features]

x

     area  bedrooms  bathrooms  stories  parking
0    7420         4          2        3        2
1    8960         4          4        4        3
2    9960         3          2        2        2
3    7500         4          2        2        3
4    7420         4          1        2        2
..    ...       ...        ...      ...      ...
540  3000         2          1        1        2
541  2400         3          1        1        0
542  3620         2          1        1        0
543  2910         3          1        1        0
544  3850         3          1        2        0

[545 rows x 5 columns]

In [13]:
y=data['price']

y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.33, random_state=42)
print(xtrain.shape, xtest.shape,ytrain.shape, ytest.shape)

(365, 5) (180, 5) (365,) (180,)

In [15]:

#feature scaling 
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

pipeline = Pipeline([
    ('std_scalar', StandardScaler())
])

xtrain= pipeline.fit_transform(xtrain)
xtest= pipeline.transform(xtest)

In [16]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(xtrain,ytrain)

LinearRegression()

In [17]:
# print the intercept
print(model.intercept_)

4725939.150684931

In [18]:
prediction= model.predict(xtest)
print(prediction)

[6304787.34199317 6403553.09528829 3305582.39472979 4245879.73083088
 3449597.39458945 4349763.96995937 5704639.09166934 5624088.30803902
 3428569.52872649 3038651.78409448 9688308.64801035 3271010.77987863
 3201215.25555647 3626199.84198926 3909948.00161674 6221784.44755373
 3097331.01642798 4955932.02267752 4907009.92619003 3944831.12216641
 5166580.94488547 4384009.43750062 3178058.79655239 4238407.94086092
 6000484.29992185 7842743.61753175 2995742.45030899 4804948.37665192
 7688097.63600734 3423478.32634462 5131095.68656856 4016627.7701176
 6240479.44032997 4772607.63634625 4342603.37075261 5710689.05444855
 4898233.5469804  3822398.41143557 3293046.68582946 4905585.78429266
 5528519.54431435 3171861.99766397 6377461.31049496 4368866.86482757
 4189441.60460389 4291229.163456   6697568.5742581  4682478.46584388
 4613433.10749552 3734199.15627651 7946445.82024516 3350294.1743465
 4906016.84264887 4082806.07587256 3972426.17399723 3107142.71917697
 6999936.72870894 3397896.72504761 4888900.11486299 3227307.0403498
 5004268.93771583 4522830.95357403 5240050.88431975 3605637.9198531
 5131102.72626088 4609267.03039426 6723150.1755551  3593585.1109976
 7590780.58284671 4784903.67770441 4756026.28016443 5146529.20624563
 5111489.64789635 7177869.0490286  3247231.62441284 5386000.77179987
 4566867.8801051  3558346.55991519 4498842.8887494  3886634.78987774
 7295809.22041296 4713634.16956759 5931037.48137541 5247634.87231979
 3169593.60810597 7365612.66158951 3071266.51508614 4124256.38239009
 7641525.36892459 7932670.32056916 3576667.37594484 5167444.87407851
 3765450.10171226 3727305.50806342 8944237.16480707 3991995.01259223
 5600214.75595109 6632339.11227477 5249947.50164733 5692096.34307668
 4439670.42923761 6094594.03637856 4040889.82562823 6114155.83528124
 5509943.78926051 5429355.80555298 7251580.34084108 6167295.28833185
 6126725.86732539 7081473.5561881  6869392.89016371 4000335.36116848
 3466387.66013011 3838195.59343508 4249141.20393004 3870810.32442674
 3813577.79245641 3195202.49285447 4121460.85301772 3632722.7881876
 4499281.5490247  5592800.16252605 3779489.07765008 3423478.32634462
 5473067.4619362  2940807.59111949 5268104.84018505 4579371.67614068
 8707544.17230717 6888961.7287587  3593585.1109976  4768198.32674233
 6122590.54840747 7252700.89389434 3805580.86244341 3173492.73421356
 3462643.28698611 5467398.11779745 3827418.09059642 3763181.71215425
 2586753.72367352 3642507.20748509 4851564.8835042  4155723.27687701
 5013645.45492136 3269706.19063896 6304277.15849684 5941304.80071774
 6900280.17327703 7533384.25844915 5750738.37533297 4558981.14835085
 3554447.4338076  4519333.28766453 4134040.80168759 7109031.40794171
 6897426.60226982 3067026.60005723 7621929.2468781  4683498.83283653
 3794536.40861108 7414096.09780171 6318278.93435745 5784754.09195776
 5261078.75018271 3156859.22140781 4151667.71296981 6580162.58238043
 6063401.13257764 5745223.46922251 3319621.37066762 4131245.27231522
 8230022.270591   4350246.8700042  7464412.73802845 8280746.81290971
 3905693.44497641 6676996.73549622 5467537.59927903 4254914.29908988]

In [19]:
scr=model.score(xtest,prediction)
print(scr)

1.0